<html>
<head>
	<meta meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<script src="@routes.Assets.at("javascripts/jquery-2.2.2.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/app.ang.js")"></script>
	<title>Site parsing alpha</title>
</head>
<body ng-app="main-app" ng-controller="AppCtrl">
<div>
	<input type="text" name="url_of_site" ng-model="site_url">
	<div ng-repeat="t in tags_fields track by $index">
		<input type="text" id="tags" ng-model="our_tags[$index]">
	</div>
	<input type="button" ng-click="add_new_tag_field()" value="Add new tag">

	<input type="button" ng-click="testing_data(site_url)" value="Testing">

	<textarea ng-model="tesing_answ">
	</textarea>

	{{ errors }}

	<input type="button" ng-click="generate_link(site_url, tags)" value="Generate link">
	<div ng-if="link_generate">Your generate link : {{ link_of }}</div>
</div>

<div>
</div>
</body>
</html>
