<html>
<head>
	<meta meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<script src="@routes.Assets.at("javascripts/jquery-2.2.2.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/app.ang.js")"></script>
	<title>Адвокатское бюро: Успех</title>
</head>
<body ng-app="main-app" ng-controller="AppCtrl">
<div>
	<input type="text" name="url_of_site" ng-model="site_url">
	<input type="text" name="html_tags" ng-model="tags">
	<input type="button" ng-click="testing_data(site_url, tags)" value="Testing">

	<textarea ng-model="tesing_answ">
	</textarea>

	{{ errors }}

	<input type="button" ng-click="generate_link(site_url, tags)" value="Generate link">
	<div ng-if="link-generate">Your generate link : {{ link_of }}</div>
</div>

<div>
</div>
</body>
</html>
